doctype 5
html
  head
    title I 404'd all over your face
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel="favicon", href="/images/logo.png")
  body
    h1 Well, I funked it up again
    h3 It's quite possible that there is a connection problem with the EA servers, but I'm going to blame this one on
      a(href="/devo-2si6") &nbsp;me.
    p(class"broken-p")
      a(onclick="javascript:history.back()") Go back and try again.