extends layout

block content
  h2 Choose from the dopest teammates around
    //- a(href="/whosonline") &nbsp;check out if anyone is online.
  p
    a(href="/player/MoNDoGuY") MoNDoGuY
  p
    a(href="/player/radicalapex") radicalapex
  p
    a(href="/player/M1keal") M1keal
  p
    a(href="/player/palfguy") palfguy
  p
    a(href="/player/Sephiroth_Darko") Sephiroth_Darko
  p
    a(href="/player/Markis444") Markis444
  p
    a(href="/player/sharta-cus") sharta-cus
  p
    a(href="/player/devo-2si6") devo-2si6