extends layout

block content
  h1= title
  h2 Welcome to #{title}
  p Choose from the dopest teammates around:
  p
    a(href="/MoNDoGuY") MoNDoGuY
  p
    a(href="/radicalapex") radicalapex
  p
    a(href="/M1keal") M1keal
  p
    a(href="/palfguy") palfguy
  p
    a(href="/Sephiroth_Darko") Sephiroth_Darko
  p
    a(href="/Markis444") Markis444
  p
    a(href="/sharta-cus") sharta-cus
  p
    a(href="/devo-2si6") devo-2si6