doctype 5
html
  head
    title= 'Puck Goes First | ' + title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel="favicon", href="/images/logo.png")
  body
    h1
      a(href="/")= title
    img.team-logo(src="/images/logo.png")
    block content